[Desktop Entry]
Type=Application
Name=Android Studio
GenericName=Android Studio
Comment=Android Studio
Exec=/opt/android-studio/bin/studio.sh
Icon=/opt/android-studio/bin/studio.png
Terminal=false
Categories=Development;IDE;Electronics;
MimeType=text/x-android;
Keywords=embedded electronics;electronics;avr;microcontroller;
StartupWMClass=processing-app-Base
